<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metas Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="ion-padding">
  

  
    <body>
      <h1>Metas</h1>
      <img src="assets/imagenes/img4.gif" width="300" height="200">
      <h1>Metas a corto Plazo</h1>
      <p>Primeramente si Dios me lo permite</p>
      <p>1. Lograr graduarme de Ingieneria </p>
      <p >2. Encontrar empleo</p>
      <h1>Metas a largo Plazo</h1>
      <p>1. Lograr tener mi propia vivienda</p>
      <p>2. Poder encontrar trabajo en mi especializacion</p>
      <img src="assets/imagenes/img3.gif" width="100" height="50">
      
      </body>
</ion-content>
