<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lugar de Recidencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="ion-padding">
  

  
    <body>
      <h1>lugar de Procedencia</h1>
      <img src="assets/imagenes/img2.gif" width="150" height="150">
      <p>Honduras</p>
      <p>Naci en :Honduras</p>
      <p >Recido en:Tocoa, Colon</p>
      <p>Barrio: San Isidro</p>
      <p>Actualmente me encuentro en el mismo lugar.</p>
      <img src="assets/imagenes/img1.jpg" width="150" height="150">
      
      </body>
</ion-content>
